body{
  background-image:url("./background.JPG");
  background-size: 6.5rem;
  background-repeat: repeat-x;
  background-position:center;
  background-position-y: 10px;
  margin:20px 0px;
  padding: 0;
  background-color: rgb(243, 221, 230);
}

.boxContainer {
  margin-top:16%;
  border:7px solid rgb(165, 197, 201);
  border-radius: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
  margin-bottom: 2%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Pangolin', cursive;
  color: rgb(38, 133, 101);
}

.author{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: rgb(123, 80, 163);
}

.button{
  top:50%;
  left: 50%;
  width: 100px;
  height: fit-content;
  background: #fff;
  border: 2px solid rgb(158, 106, 165);
  border-radius: 75px;
  line-height: 75px;
  text-align:center;
  font-size: 30px;
  text-decoration: none;
  color: rgb(103, 160, 192);
}

.button:hover{
  color: rgb(195, 155, 221);
}
.img-1{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-radius: 50px;
  margin-top: 10px;
}


i{
  color: rgb(170, 79, 125);
}

@media(max-width:1000px){
  .boxContainer {
    margin-top:22%;
  }
  img{
    margin-top: 10px;
  }
}

@media(max-width:800px){
  .boxContainer {
    margin-top:180px;
  }
}